.chef {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  padding: 50px;
  column-gap: 50px;
}

.chef .foto {
  position:relative;
  overflow: hidden;
  border: 1px solid black;   
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #CCD5AE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-row-start: 1;
  grid-row-end: 3; 
}

.chef .foto img{
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  max-height: 100%; /* 100% de la altura del contenedor */
}

.chef .Nombre {
  text-align: left;
  font-family: Poppins,sans-serif;
  grid-column:2/4;
}

.chef article {
  text-align: left;
  grid-column:2/4;
  font-family: Poppins,sans-serif;
}

.listado-recetas {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    column-gap: 50px; 
    row-gap: 50px;
    /* padding: 10px; */
  }
  
.listado-recetas .titulo{
  font-family: Poppins,sans-serif;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 4; 
 }

.receta {
  border: 1px solid black;    
  text-align: center;
  height: 350px;
  width: 300px;
  background-color: #163d30;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.receta:hover{
  cursor:grab;
}

.receta a:link, .receta a:visited, .receta a:hover, .receta a:active{
  text-decoration: none;
}

.receta-imagen {
  overflow: hidden;
  object-position: center;
  /* object-fit: fill; */
  height: 80%;
  width: 300px;
  border: 1px solid black;
  transition: all 0.5s ease;
}

.receta-imagen img{
  width: 300px;
   height: 100%;
  object-position: center;
  object-fit: cover;
  transition: all 0.5s;
}

.receta:hover .receta-imagen img{
  transform: scale(1.2);
}

.receta:hover .receta-imagen {
  height: 60%;
}

.receta:hover .receta-nombre {
  height: 40%;
}

.receta:hover .receta-cuadro {
  color:#163d30;
  border: 1px solid black;
  background-color: #f3c439;
}

.receta-nombre {
  font-size: 20px;
  font-family: Poppins,sans-serif;
  display: grid;
  color: white;
  width: 100%;
  height: 20%;
  font-weight: bolder;
  place-items: center;
  transition: all 0.5s ease; 
 }

.receta-cuadro {
  font-size: 20px;
  font-family: Poppins,sans-serif;
  display: grid;
  width: 80%;
  height: 80%;
  padding: auto;
  margin: auto;
  color: #163d30;
  background-color: #163d30;
  font-weight: bolder;
  place-items: center;
  transition: all 0.5s ease; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .chef {grid-template-columns: auto;}
  .chef article {grid-column:1/1;}
  .chef .Nombre {grid-column:1/1;}
  .listado-recetas{grid-template-columns: auto;}
  .listado-recetas .titulo{
    grid-column-start: 1;
    grid-column-end: 1; }
}


/* Small devices (portrait tablets and large phones, 600px and up to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .chef {grid-template-columns: auto;}
  .chef article {grid-column:1/1;}
  .chef .Nombre {grid-column:1/1;}
  .listado-recetas{grid-template-columns: auto;}
  .listado-recetas .titulo{
    grid-column-start: 1;
    grid-column-end: 1; }


}

/* Medium devices (landscape tablets, 768px and up to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .chef {grid-template-columns: auto;}
  .chef article {grid-column:1/1;}
  .chef .Nombre {grid-column:1/1;}
  .listado-recetas{grid-template-columns: auto;}
  .listado-recetas .titulo{
    grid-column-start: 1;
    grid-column-end: 1; }
} 

/* Large devices (laptops/desktops, 993px and up to 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  
}
