body{
    background-image: url("{% static 'recetas_crud/images/fondo_recetas.jpg' %}");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.descripcion {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
