h1 {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../images/fondo_base.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


