  .receta-titulo{
    display: grid;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 60% 40%;
    font-family: Poppins,sans-serif;
    overflow: hidden;
  }
  .receta-titulo article{
    display: grid;
    height: 100%;
    justify-content: center; 
    align-items: center;
    background-color: #163d30;
    color: white;
    border: 1px solid black;
  }
  .receta-titulo article .texto{
    padding: 20px;
    text-align: start;
  }
  .receta-titulo .receta-imagen{
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  .receta-titulo .receta-imagen img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .receta-detalle{
    display: grid;
    column-gap: 30px;
    grid-template-columns: 25% auto;
    font-family: Poppins,sans-serif;
    padding-top: 40px;
  }

  .receta-detalle .ingredientes{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .receta-detalle .ingredientes ul {
    list-style: none;
    color: #457b66;
    font-weight: bold;
    font-size: 18px;
  }

  .receta-detalle .ingredientes ul li{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 15px;
  }

  .receta-detalle .preparacion h2{
    text-align: left;
  }
  .receta-detalle .preparacion ul {
    list-style: disc;
    color: #457b66;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding: 30px;
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .receta-titulo{
    grid-template-columns: auto;
  }
  .receta-detalle{
    grid-template-columns: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .receta-titulo{
    grid-template-columns: auto;
  }
  .receta-detalle{
    grid-template-columns: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .receta-titulo{
    grid-template-columns: auto;
  }
  .receta-detalle{
    grid-template-columns: auto;
  }
} 

/* Large devices (laptops/desktops, 993px and up to 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  
}