* {
    font-family: Poppins,sans-serif;
    margin: 0;
    padding: 0;
  }

body {
    /* font-family: 'Comfortaa', cursive; */
    font-family: Poppins,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    box-sizing: border-box;
}

/*///////////////////////////////////////////// FIN ESTILOS PARA EL HEADER ////////////////////////////////////////////////////////////*/
.navegacion{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: Poppins,sans-serif;
  }
.nav {
    /* position: sticky; */
    grid-column: 1/4;
    top: 0px; /* Fija el nav en la parte superior de la ventana */
    left: 0; /*Fija el nav en la parte izquierda de la ventana*/
    width: 100%; /* Ocupa todo el ancho de la ventana */
    background-color: #FEFAE0;
}

.nav ul {
    color: #000;
    list-style-type: none;
    text-align: end;
}

.nav li {
    display: inline;
    margin-right: 20px;
    align-items: center;
    margin-top: 10px;
}

.nav ul a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #333;
}

.productos {
    display: flex; /* Esto hará que los elementos se muestren en línea */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    margin-left: 20px; /* Agrega un espacio a la izquierda para separarlo de "Contacto" */
    flex-direction: row-reverse;
}

#search-form {
    display: flex; /* Esto coloca el formulario en línea con los elementos anteriores */
    margin-right:20px;
}

#search-input {
    margin-right: 10px; /* Agrega un espacio entre el campo de entrada y el botón */
    margin-right:20px;
}

/*///////////////////////////////////////////// ESTILOS PARA MAIN SECTION ////////////////////////////////////////////////////////////*/

main {
    padding: 40px; 
    min-height: calc(100vh - 200px); /* Ajusta la altura según el alto del header y el footer, hay que revisar esto */
    max-width: auto;
    margin: 0 auto;
    text-align: center;
}

.featured-recipe {
    display: flex;
    /*flex-direction: column; /* Coloca los elementos en una columna*/
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: center;*/
}

.featured-recipe h2 {
    /*font-size: 5em;*/
    max-width: 100%;
    max-height: 100%;
    font-size: 80px;
    /* flex: 1;*/ 
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total*/ 
}

.featured-recipe article {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #FEFAE0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    align-items: center;
}

.latest-recipes article iframe{
    width: 100%;
    height: 80%;
}

.featured-recipe img {
    max-width: 80%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    align-items: center;
}

.featured-recipe img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.featured-recipe iframe {
    width: 500px;
    height:400px;

}

.featured-recipe .recipe-media h3 {
    font-size: 24px;
}

.featured-recipe article:hover {
    transform: scale(1.07);
}

.featured-recipe .recipe-content {
    display: flex; /* Utiliza flexbox para alinear los artículos en fila*/ 
    flex-wrap: wrap; /* Permite que los artículos se envuelvan en una nueva fila si no caben en una sola fila*/ 
    justify-content: space-between; /* Distribuye los artículos con espacio entre ellos*/ 
    gap: 20px; /* Espacio entre los artículos */
}

.latest-recipes {
    display: flex;
    flex-wrap: wrap;
  }
  
  .latest-recipes article {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #FEFAE0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex; /* Agrega esta línea para que los elementos dentro del artículo sean flexibles */
    flex-direction: column; /* Alinea los elementos internos en una columna */
    justify-content: space-between; /* Distribuye el espacio entre los elementos internos */
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  }
  
  .latest-recipes article:hover {
    transform: scale(1.07);
  }
  
  .latest-recipes h2 {
    font-size: 80px;
    box-sizing: border-box;
  }
  
  .latest-recipes .recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .latest-recipes .recipe-container a {
    text-decoration: none;
    color: inherit;
  }
  
  .latest-recipes .recipe-container img {
    max-width: 100%;
    height: auto;
  }

  .latest-recipes article.mapa {
    flex: 1 0 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 20px;
    background-color: #FEFAE0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    align-items: center;
    height: 450px;
}


/* /////////////////////////////////////////////////////////////////////////////////// Estilizar el formulario//////////////////////////////////// */

.contenedor-formulario{
    display: flex;
}


#formulario-contacto {
    max-width: 450px; /* Ajusta el ancho máximo del formulario según tu preferencia */
    max-height: auto;
    margin: 0 auto; /* Centra horizontalmente el formulario */
}
  
  /* Estilizar los labels */
#formulario-contacto label {
    display: block; /* Hace que los labels ocupen una línea completa */
    margin-bottom: 5px; /* Agrega un pequeño espacio entre los labels y los inputs */
    font-weight: bold; /* Aplica negritas a los labels */
  }
  
  /* Estilizar los inputs de texto y email */
#formulario-contacto input[type="text"],
#formulario-contacto input[type="email"] {
    width: 100%; /* Los inputs ocuparán todo el ancho del contenedor */
    padding: 10px; /* Agrega relleno para dar espacio dentro de los inputs */
    margin-bottom: 15px; /* Agrega un espacio entre los inputs */
    border: 1px solid #ccc; /* Agrega un borde alrededor de los inputs */
    border-radius: 5px; /* Aplica bordes redondeados a los inputs */
}
  
/* Estilizar el textarea */
#formulario-contacto textarea {
    width: 100%; /* El textarea ocupará todo el ancho del contenedor */
    padding: 10px; /* Agrega relleno para dar espacio dentro del textarea */
    margin-bottom: 15px; /* Agrega un espacio entre el textarea y otros elementos */
    border: 1px solid #faedcd; /* Agrega un borde alrededor del textarea */
    border-radius: 5px; /* Aplica bordes redondeados al textarea */
}
  
  /* Estilizar el botón de enviar */
#formulario-contacto button[type="submit"] {
    background-color: #163d30; /* Cambia el color de fondo del botón según tu preferencia */
    color: #faedcd; /* Cambia el color del texto del botón según tu preferencia */
    padding: 10px 20px; /* Agrega relleno al botón para hacerlo más grande */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Aplica bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse por el botón */
}
  
/* Estilizar el botón de enviar al pasar el mouse */
#formulario-contacto button[type="submit"]:hover {
    background-color: #faedcd; /* Cambia el color de fondo al pasar el mouse */
    color: #163d30; /* Cambia el color del texto al pasar el mouse */
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px; /* Espacio entre productos */
}

.product {
    background-color: #ccd5ae;
    border: 1px solid #ccd5ae;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product:nth-child(3n) {
    margin-bottom: 20px;
}

#product-container div {
    background-color: #e9edc9;
    border: 1px solid #ccd5ae;
    padding: 20px;
    margin: 10px;
    width: 200px; /* Establece un ancho fijo para todos los contenedores de imágenes */
    height: 250px; /* Establece una altura fija para todos los contenedores de imágenes */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#product-container div:hover {
    transform: scale(1.05);
}

#product-container img {
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 100px;
    object-fit: cover;
    margin: 10px 0; /* Espacio entre la imagen y los detalles */
}

#product-container h2 {
    max-height: 4em; /* Altura máxima de tres líneas */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0; /* Espacio entre el título y otros detalles*/ 
    
}

#product-container p {
    text-align: center;
    font-size: 1rem;
    color: #000;
    margin-bottom: 10px;
}

a:link {
    color: #000; /* Cambia el color del enlace no visitado */
    text-decoration: none; /* Elimina el subrayado */
}

a:hover {
    text-decoration: underline; /* Agrega un subrayado al pasar el mouse */
}

a:active {
    color: #000; /* Cambia el color cuando se hace clic en el enlace */
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    
    .featured-recipe article {
        flex: 0 0 calc(100% - 20px); /* Cambia a una columna completa en pantallas pequeñas */
    }
    
    .latest-recipes h2 {
        font-size: 60px;
    }
    
    .latest-recipes article {
        flex: 0 0 calc(100% - 20px); /* Cambia a una columna completa en pantallas pequeñas */
    }
    
    nav {
        top: -20px; /* Ajusta la posición hacia arriba en 50px (ajusta el valor según tus necesidades) */
    }
    
    .featured-recipe h2 {
        font-size: 60px;
    }

    .featured-recipe iframe {
        width: 250px;
        height:200px;
    }
    .navegacion{
        grid-template-columns: auto;
        justify-content: center;
      }
    .nav {
        grid-column: 1/1;
    }
    .nav ul {
        text-align: center;
    }
    .productos h3{
        display: none;
    }
    #product-container {
        grid-template-columns: auto;
    }

}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    #product-container {
        grid-template-columns: auto auto;
    }
  } 

/* Estilos específicos para pantallas más pequeñas */
@media (max-width: 768px) {
    .modal-content {
        width: 90%; /* Ajusta el ancho del modal para pantallas pequeñas */
        padding: 10px; /* Reduce el espacio interior del modal */
    }
}

/* Otros estilos para pantallas más grandes si es necesario */
@media (min-width: 992px) {
    .modal-content {
        width: 70%; /* Ajusta el ancho del modal para pantallas grandes */
    }
}