{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugiere recetas y elimina las que no te gusten {% block title %}{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:ital,wght@1,200&family=Open+Sans:wght@300&family=Poppins:wght@100;200;600&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="{% static 'recetas_crud/css/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>
    
    <header>
        <div class="logo">
            <a class="enlace_logo_delicias" href="#">
                <img class="logoDelicias" src="{% static 'recetas_crud/images/logo_recetas_deliciosas.png' %}" alt="Logo">
            </a>
        </div>
        <div class="header-content">
            <h1>Administra las recetas!</h1>
        </div>
        <h2>{% block section_title %}{% endblock %}</h2>
    </header>
    <nav class="barra-navegacion">
        <ul class="botones-menu">
            <li><a href="http://127.0.0.1:5500/index.html">Recetario</a></li>
            <li><a href="{% url 'receta_listado' %}">Recetas</a></li>
            <li><a href="{% url 'receta_crear' %}">Cargar receta</a></li>
            {% if request.get_full_path != '/recetas/' %}
                <li><a href="http://127.0.0.1:8000/recetas/">atras</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <img class="logo-grupo" src="{% static 'recetas_crud/images/logo_grupo_8.png' %}" alt="logo-de-pie-de-pagina">
        <p>&copy; 2023 El Recetario</p>
        <img class="logo-codo-a-codo" src="{% static 'recetas_crud/images/logo_codo_a_codo.png' %}" alt="logo-codoacodo-pie-de-pagina">
        <p>Todos los derechos reservados - Grupo 8 - Codo a Codo 2023 - comisión 23533</p>
    </footer>
</body>
</html>
