{% extends "recetas_crud/base.html" %}
{% load static %}

{% block title %} Hola! edita las recetas! {% endblock %}
{% block section_title %} crea, modifica y elimina recetas desde aqui!! {% endblock %}

{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'receta_crud/css/index.css' %} ">
{% endblock %}  

{% block main %}
    <p class="descripcion">
        Esta es una aplicación web para la manipulacion de recetas.
        <br>
        Realizado en el curso de Fullstack Python 2do Cuatrimestre 2023 - comisión 23533 - grupo 8.
    </p>
{% endblock %}
