{% extends "recetas_crud/base.html" %}
{% load static %}

{% block title %} Detalle de la receta {% endblock %}
{% block section_title %} Detalle de la receta {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'recetas_crud/css/receta_detalle.css' %}">
{% endblock %}

{% block main %}
    <article>
        <h3>{{object.titulo}} ({{object.categoria}})</h3>
        <p>Creada el dia {{object.fecha_fin}}</p>
        <p>{{object.descripcion}}</p>
    </article>
{% endblock %}