<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlace a los stylesheet -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/chef.css">
    <link rel="stylesheet" href="../styles/receta.css">
    
    <!--Enlace a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:ital,wght@1,200&family=Open+Sans:wght@300&family=Poppins:wght@100;200;600&display=swap" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
   
    <!-- TITULO DEL HEAD CON EL NOMBRE DEL CHEF -->
    <title>Las recetas del 8- Nicolas</title>
</head>

<body>
    
    <!-- El header se carga de forma externa -->
    <header id="header" class="header"></header>

    <section class="navegacion">
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <!-- <li><a href="#">Recetas</a></li> -->
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="productos">
            <h3>busca un producto</h3>
            <form id="search-form" action="./producto.html" method="get">
                <input type="text" id="search-input" name="product-name" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </section>
    <main>
        
        <section class="chef">      
           
            <div class="foto">
                <img src="../images/foto_nicolas.jpg" alt="foto-niocolas">   
            </div>

            <h2 class="Nombre">Nicolas Butterfield</h2>
            <article>Originario de la región de Río Gallegos, Nicolás siempre supo que su vida estaría íntimamente ligada a la comida. 
                Desde temprana edad, se veía atraído por la magia que ocurre en las cocinas. Creció experimentando con recetas, perfeccionando 
                técnicas y desarrollando un profundo respeto por los ingredientes frescos y locales.
                Si alguna vez has tenido el placer de explorar el mundo culinario de Río Gallegos, es probable que te hayas topado con el nombre 
                que enciende la pasión por la comida en esta ciudad: el chef Nicolás. 
                Con su pasión inquebrantable por la gastronomía y un talento innato para fusionar ingredientes en creaciones de 
                sabor asombroso, el chef Nicolás se ha ganado un lugar especial en los corazones y paladares de 
                quienes han tenido el placer de degustar su cocina.
            </article>
        </section>

        <section class="listado-recetas"> 
            <h2 class="titulo">Recetas especiales de la patagonia</h2>
            <div class="receta">
                <a href="../pages/recetas_nicolas/brochet-guanaco.html">
                    <div class="receta-imagen"><img src="../images/brochet_guanaco.png" alt="brochet-guanaco"></div>  
                    <div class="receta-nombre">Brochet de Guanaco
                        <div class="receta-cuadro">Ver receta</div>
                    </div>  
                </a>
            </div>

            <div class="receta">
                <a href="../pages/recetas_nicolas/cordero-asado.html">
                    <div class="receta-imagen"><img src="../images/cordero-asado.jpg" alt=""></div>  
                    <div class="receta-nombre">Cordero asado
                        <div class="receta-cuadro">Ver receta</div>
                    </div>    
                </a>
            </div>

            <div class="receta">
                <a href="../pages/recetas_nicolas/salmon-grille.html">
                    <div class="receta-imagen"><img src="../images/salmon-a-la-plancha.jpg" alt=""></div>         
                    <div class="receta-nombre">Salmón grillé
                        <div class="receta-cuadro">Ver receta</div>
                    </div>
                </a>
            </div>
        </section>
        
    </main>

    <!-- El footer se carga de forma externa -->
    <footer id="footer"></footer>

    <!-- Enlaza el archivo JavaScript -->
    <script src="../js/main.js"></script>

</body>
</html>