<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- al tener los archivos de encabezado y pie de página de forma local, no es necesario establecer una URL base externa. -->
    <!-- <base id="base" href="https://nicobutter.github.io/codoacoco_23533__G8_el_recetario/"/> -->
    
    <!-- Enlace a estilos -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/recetas_sabrina.css">
    <link rel="stylesheet" href="../styles/chef.css">

    <!--Enlace a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:ital,wght@1,200&family=Open+Sans:wght@300&family=Poppins:wght@100;200;600&display=swap" rel="stylesheet">
    
    <!-- Enlace a Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Las recetas del 8</title>

</head>
<body>
    <header id= "header" class="header">
    </header>
    
    <section class="navegacion">
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <!-- <li><a href="#">Recetas</a></li> -->
                <li><a href="../pages/contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="productos">
            <h3>busca un producto</h3>
            <form id="search-form" action="./producto.html" method="get">
                <input type="text" id="search-input" name="product-name" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </section>
    
    
    <main>
        
        <section class="chef">
           <div class="foto"><img src="../images/foto_sabrina.jpg" alt="Icono"></div>
           <h2 class="Nombre">Sabrina Fleita</h2>
           <article>La chef Sabrina Fleita nació en Buenos Aires en 1999 y desde pequeña estuvo muy cerca de la cocina gracias a su abuela materna. Fue ella quien la contagió y le inculcó el amor por la gastronomía.

            Sus primeros pasos los dio mientras estudiaba la carrera de chef. Trabajó en varios restaurantes y luego se animó a armar su propia empresa de catering junto a una amiga.
            
            En 2013 participó de un concurso mundial de videos de cocina, organizado por el reconocido chef Jamie Oliver, que le cambiaría su rumbo profesional. 
            
            Allí se consagró ganadora y su carrera no paró de crecer. Un año después publicó «You Cook«, su primer libro de recetas.
            
            Actualmente, es parte de Jamie Oliver’s Food Tube Network en YouTube donde también tiene su propio canal de cocina, al cuál mantiene actualizado todas las semanas.
            
            También le gusta enseñar. Desde hace un tiempo dicta clases de cocina para todas las edades con su particular toque de frescura y alegría, siempre vigente.
            
            Hoy forma parte del staff de chefs de elgourmet con su programa “Las Recetas de Sabrina”, dónde muestra la mejor versión de sus platos. Gracias a su variedad, alcanzó ya su segunda temporada.
           </article>
        </section>

        
        <section class="listado-recetas"> 
            <h2 class="titulo">Sus Recetas</h2>
            <div class="receta">
                <a href="../pages/Sabri/fideua.html">
                    <div class="receta-imagen"><img src="../images/fideua.JPG" alt=""></div>  
                    <div class="receta-nombre">Fideuá
                        <div class="receta-cuadro">Ver receta</div>
                    </div>  
                </a>
            </div>
            <div class="receta">
                <a href="../pages/Sabri/filetmignon.html">
                    <div class="receta-imagen"><img src="../images/filetmignon.jpg" alt=""></div>  
                    <div class="receta-nombre">Filet mignon
                        <div class="receta-cuadro">Ver receta</div>
                    </div>    
                </a>
            </div>
            <div class="receta">
                <a href="../pages/Sabri/pollogrille.html">
                    <div class="receta-imagen"><img src="../images/pollo grille.JPG" alt=""></div>         
                    <div class="receta-nombre">Pollo grille
                        <div class="receta-cuadro">Ver receta</div>
                    </div>
                </a>
            </div>
        </section>
    </main>
    
    
    <footer id="footer"></footer>

    <!-- Enlaza el archivo JavaScript -->
    <script src="../js/main.js"></script> <!-- Enlaza el archivo JavaScript -->
   
</body>
</html>