<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlace a los stylesheet -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/chef.css">
    <link rel="stylesheet" href="../styles/receta.css">
    
    <!--Enlace a Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:ital,wght@1,200&family=Open+Sans:wght@300&family=Poppins:wght@100;200;600&display=swap" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
   
    <!-- TITULO DEL HEAD CON EL NOMBRE DEL CHEF -->
    <title>Las recetas del 8- Natalia</title>
</head>

<body>
    
    <!-- El header se carga de forma externa -->
    <header id="header" class="header"></header>

    <section class="navegacion">
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <!-- <li><a href="#">Recetas</a></li> -->
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="productos">
            <h3>busca un producto</h3>
            <form id="search-form" action="./producto.html" method="get">
                <input type="text" id="search-input" name="product-name" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </section>

    <main>
        <section class="chef">      
           
            <div class="foto">
                <img src="../images/foto_natalia.jpeg" alt="foto-natalia">   
            </div>

            <h2 class="Nombre">Natalia Palmieri</h2>
            <article>La chef Natalia Palmieri nació en Córdoba Capital en 1980 y desde muy niña observó
                 cocinar a sus abuelas (italianas) lo cual fue muy enriquecedor y esa curiosidad la llevó
                 a ser una amante del arte culinario.Trabajo en varios restaurantes del centro de Córdoba
                 siempre tratando de estar cerca de las cocinas para aprender mas recetas.La pandemia que
                 nos retrajo a los hogares a todos, en su caso hizo que empezara a incursionar en el tema
                 de las pizzas y fue así que comenzó a formar su propia masa madre para hacer sus recetas
                 cada vez más cerca de las recetas perfectas italianas, con sus trucos de cocción y buscando
                 la combinación de ingredientes y porcentajes exactos para una masa especial.Es asi que hoy
                 en dia sus recetas son de las más buscadas en el mercado.
            </article>
        </section>

        <section class="listado-recetas"> 
            <h2 class="titulo">Recetas especiales italianas</h2>
            <div class="receta">
                <a href="../pages/Natalia/bianca.html">
                    <div class="receta-imagen"><img src="../images/BIANCA.jpeg" alt="pizza bianca"></div>  
                    <div class="receta-nombre">Pizza Bianca
                        <div class="receta-cuadro">Ver receta</div>
                    </div>  
                </a>
            </div>

            <div class="receta">
                <a href="../pages/Natalia/focaccia.html">
                    <div class="receta-imagen"><img src="../images/FOCACCIA.jpeg" alt="Pizza focaccia"></div>  
                    <div class="receta-nombre">Pizza Focaccia
                        <div class="receta-cuadro">Ver receta</div>
                    </div>    
                </a>
            </div>

            <div class="receta">
                <a href="../pages/Natalia/roquefort.html">
                    <div class="receta-imagen"><img src="../images/ROQUEFORT.jpeg" alt="Pizza roquefort"></div>         
                    <div class="receta-nombre">Pizza Roquefort
                      <div class="receta-cuadro">Ver receta</div>
                    </div>
                </a>
            </div>
        </section>
       
        
    </main>

    <!-- El footer se carga de forma externa -->
    <footer id="footer"></footer>

    <!-- Enlaza el archivo JavaScript -->
    <script src="../js/main.js"></script>

</body>
</html>
