{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'recetas_crud/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'recetas_crud/css/style.css' %}">
</head>

<body>
    

<div class="logo">
    <a class="enlace_logo_delicias" href="/index.html"><img class="logoDelicias" src="{% static 'recetas_crud/images/logo_recetas_deliciosas.png' %}" alt="Logo"></a>
</div>

<div class="title">
    <h1>nuestros chef</h1>
</div>

<div class="redes-sociales">
    <ul>
        <li>
            <a class="enlace_nicolas" href="" style="--clr: #FAEDCD">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <!-- <span><img class="foto_nicolas" src="" alt="Icono"></span> -->
                <span><img class="foto_nicolas" src="{% static 'recetas_crud/images/foto_nicolas.jpg' %}" alt="Nicolas"></span>
            </a>
        </li>
        <li>
            <a class="enlace_sabrina" href="" style="--clr: #FAEDCD">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <!-- <span><img class="foto_sabrina" src="" alt="Icono"></span> -->
                <span><img class="foto_sabrina" src="{% static 'recetas_crud/images/foto_sabrina.jpg' %}" alt="Sabrina"></span>
            </a>
        </li>
        <li>
            <a class="enlace_natalia" href="" style="--clr: #FAEDCD">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <!-- <span><img class="foto_natalia" src="" alt="Icono"></span> -->
                <span><img class="foto_natalia" src="{% static 'recetas_crud/images/foto_natalia.jpeg' %}" alt="Natalia"></span>
            </a>
        </li>
        <li>
            <a class="enlace_pablo" href="" style="--clr: #FAEDCD">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <!-- <span><img class="foto_pablo" src="" alt="Icono"></span> -->
                <span><img class="foto_pablo" src="{% static 'recetas_crud/images/foto_pablo.jpg' %}" alt="Pablo"></span>
            </a>
        </li>
    </ul>

    <div class="nombres">
        <h5>Nicolas</h5>
        <h5>Sabrina</h5>
        <h5>Natalia</h5>
        <h5>Pablo</h5>
    </div>
</body>